<p><a href="#" onclick="call()">Test</a></p>

<script>
function call() {
    const script = document.createElement('script')
    script.src = "http://localhost:3000/script"
    document.body.appendChild(script) 
}

</script>